.buttonInicioVentas{
    margin-right:  100px;
    background-color: #8B4513;
    color: #572400;
    width: 250px;
    height: 90px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.buttonInicioInventario{
    margin-left: 100px;
    background-color: #8B4513;
    color: #572400;
    width: 250px;
    height: 90px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.buttonAdd{
    border-radius: 100%;
    background-color: #00D415;
}

.buttonRemove{
    border-radius: 100%;
    background-color: #D40000;
}

.imageCard{
    border-radius: 40px; 
    width: 220px; 
    margin-left: 16px;
}