/donGalleto/build/
/donGalleto/nbproject/private/
/donGalleto_core/build/
/donGalleto_core/dist/
/donGalleto_core/nbproject/private/
/donGalleto_model/build/
/donGalleto_model/dist/
/donGalleto_model/nbproject/private/
